@tailwind base;
@tailwind components;
@tailwind utilities;






body {
  color: rgb(244,244,244);
  background: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
}

.card {
  background: rgb(30, 30, 40)
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
